{% extends 'fleet_base1.html' %}
{% load static %}
{% load privilege_tags %}

{% block content %}

<div class="container mt-4">
  <h2>Fleet Hire List</h2>
  <a href="{% url 'fleet_app:fleet_hire_create' %}" class="btn btn-success mb-3">Add New Fleet Hire</a>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Voucher No</th>
        <th>Supplier</th>
        <th>Invoice No</th>
        <th>Invoice Date</th>
        <th>Grand Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for hire in hires %}
        <tr>
          <td>{{ hire.voucher_no }}</td>
          <td>{{ hire.supplier }}</td>
          <td>{{ hire.invoice_no }}</td>
          <td>{{ hire.invoice_date }}</td>
          <td>{{ hire.grand_total }}</td>
          <td>
            {% has_priv request.user 6 "can_edit" as can_edit_hire %}
            {% if can_edit_hire %}
            <a href="{% url 'fleet_app:fleet_hire_edit' hire.id %}" 
              class="btn btn-sm btn-warning">
                <i class="fas fa-edit"></i> Edit
            </a>
            {% endif %}

            {% has_priv request.user 6 "can_delete" as can_delete_hire %}
            {% if can_delete_hire %}
            <button onclick="deleteHire({{ hire.id }}, '{{ hire.voucher_no }}')"
                    class="btn btn-sm btn-danger">
                Delete
            </button>
            {% endif %}


          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-center">No fleet hire records found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}