{% extends 'fleet_base1.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Repair & Maintenance Details</h2>
    
    <div class="card mb-4">
        <div class="card-header">
            <h3>Maintenance Information</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Voucher Number:</strong> {{ maintenance.voucher_no }}</p>
                    <p><strong>Date:</strong> {{ maintenance.date }}</p>
                    <p><strong>Bill Number:</strong> {{ maintenance.bill_no }}</p>
                    <p><strong>Party:</strong> {{ maintenance.party }}</p>
                </div>
               
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Maintenance Items</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Narration</th>
                        <th>Bill Amount</th>
                        <th>VAT Amount</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.narration }}</td>
                        <td>{{ item.bill_amount }}</td>
                        <td>{{ item.VAT_amount }}</td>
                        <td>{{ item.total_amount }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No items.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3">
        <a href="{% url 'fleet_app:maintenance_list' %}" class="btn btn-secondary">Back to List</a>
    </div>
</div>
{% endblock %}