{% extends 'fleet_base1.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Vehicle Master List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Vehicle Name</th>
                <th>License Plate Code</th>
                <th>License Plate Number</th>
                <th>Driver</th>
                <th>Category</th>
                <th>RC Number</th>
                <th>Contract Number</th>
                <th>Contract Start Date</th>
                <th>Contract End Date</th>
                <th>Customer Name</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle.vehicle_name }}</td>
                    <td>{{ vehicle.license_plate_code }}</td>
                    <td>{{ vehicle.license_plate_number }}</td>
                    <td>{{ vehicle.vehicle_driver }}</td>
                    <td>{{ vehicle.vehicle_category }}</td>
                    <td>{{ vehicle.RC_number }}</td>
                    <td>{{ vehicle.contract_no }}</td>
                    <td>{{ vehicle.contract_start_date }}</td>
                    <td>{{ vehicle.contract_end_date }}</td>
                    <td>{{ vehicle.customer_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10">No vehicles found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
